<h2>Upcoming Events</h2>

<% @events.each do |event| %>
    <h2> <%= event.title %> <h2>
    <h3> <%= event.date.strftime('%-m/%-d/%y') %> </h3>
    <h3> <%= event.time.strftime('%-l:%M %p') %> </h3>
<% end %>