/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

.header {
    position: fixed;
    top: 0;
    width: 100%;
    transition: all 0.3s;
}

.header.initial-state {
    background-color: transparent;
}

.header.initial-state .header-logo {
    width: 200px;
    margin: 0 auto;
    display: block;
  }

.header.initial-state .header-nav {
    text-align: center;
}

.header-nav .nav-link {
    margin: 0 15px; 
}

.header.scrolled-state {
  background-color: white; 
}

.header.scrolled-state .header-logo {
    width: 100px;
    margin: 0;
    display: inline-block;
}

.header.scrolled-state .header-nav {
    display: inline-block;
    vertical-align: top;
}

.header-logo {
    width: 100px;
}

.header-nav {
    display: flex;
    gap: 20px;
}

.nav-link {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.nav-link:hover {
    background-color: #e2e6ea;
}

body {
    font-family: 'Poiret One', cursive;
  }